@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: local('Montserrat Light'),
    local('Montserrat-Light'),
    url('../assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Light.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local('Montserrat Regular'),
    local('Montserrat-Regular'),
    url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: local('Montserrat SemiBold'),
    local('Montserrat-SemiBold'),
    url('../assets/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
}

:root {
  --clr-primary-500: #DD8317;
  --clr-primary-400: #F6931D;
  --clr-secondary-400: #A0BC57;
  --clr-tertiary-400: #6EB7C2;
  --clr-tertiary-100: #ECF8FB;

  --clr-neutral-900: #545253;
  --clr-neutral-800: #747375;
  --clr-neutral-300: #D8D8D8;
  --clr-neutral-200: #EFEFEF;
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-100-75: #ffffffbf;

  --clr-error-400: #D50303;

  --clr-box-shadow-input: #00000080;
  --clr-box-shadow-form: #6fb8c35e;

  --ff: 'Montserrat', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
}

/* RESET ------------------------------ */

* {
  box-sizing: border-box;
  margin: 0;
}

/* Ensures that the body's background color and patterns
span the full height of the viewport, even when the content
is insufficient to fill the screen. This prevents visual
cut-offs of the background on larger displays, maintaining
consistent background appearance. */
body::before {
  content: '';
  display: block;
  position: absolute;
  min-height: 100vh;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  /* Improves rendering in Webkit-bases browsers.
  It renders text with slightly less contrast and sharper edges*/
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff);
}

/* UTILITIES ------------------------------ */

/* 
.sr-only:not(:focus):not(:active):
Class to hide elements visually while keeping them accessible to screen readers, used for accessibility purposes.
  Usage Context:
  * This class is should be applied to elements such as headings, label, or descriptive sections meant to enhance accessibility without interrupting visual design.
  * The `:not(:focus):not(:active)` pseudo-classes remove these styles when the element receives focus or becomes active.
*/
.sr-only:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
}