@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('../assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Light.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
}

:root {
  --clr-primary-500: #DD8317;
  --clr-primary-400: #F6931D;
  --clr-secondary-400: #A0BC57;
  --clr-tertiary-400: #6EB7C2;
  --clr-tertiary-100: #ECF8FB;

  --clr-neutral-900: #545253;
  --clr-neutral-800: #747375;
  --clr-neutral-300: #D8D8D8;
  --clr-neutral-200: #EFEFEF;
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-100-75: #ffffffbf;

  --clr-error-400: #D50303;

  --clr-box-shadow-input: #00000080;
  --clr-box-shadow-form: #6fb8c35e;

  --ff: 'Montserrat', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
}

/* RESET ------------------------------ */

* {
  box-sizing: border-box;
  margin: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff);
}

/* UTILITIES ------------------------------ */

.sr-only:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
}